
.tree-input {
  margin: 8px 10px;
  transition: all ease 300ms;
  height: auto;
  border-left: 1px solid rgb(206, 206, 206);
  position: relative;
  left: -22px;
  .tree-input-start, .tree-input-end {
    position: relative;
    background-color: white;
    cursor: pointer;
    height: 25px;
    user-select: none;
  }
  .tree-input-start {
    left: -7px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    .tree-input-expand {
      width: 20px;
      position: relative;
      left: -3px;
      transition: all ease 300ms;
    }
    .tree-input-count, .tree-input-count-empty {
      display: inline-block;
      margin-left: 40px;
      opacity: 0.8;
      font-style: italic;
    }
    .tree-input-name {
      font-weight: bold;
      min-width: 40px;
      margin-right: 8px;
    }
    .tree-input-tag {
      margin: 0 8px;
    }
    .tree-input-remove {
      margin-left: 20px;
    }
  }
  .tree-input-end {
    left: -3px;
    display: inline-block;
  }
  .tree-input-items {
    margin-left: 40px;
    .tree-input-item {
      height: 32px;
      margin: 8px 0;
      font-size: 14px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      & > span, & > input {
        display: inline-block;
      }
      .tree-input-item-info {
        min-width: 240px;
        .tree-input-item-name {
          font-size: 15px;
          font-weight: bolder;
        }
        .tree-input-item-type {
          font-style: italic;
          margin-right: 30px;
        }
      }
    }
  }
  .tree-input-item-input,
  .tree-input-item-enum,
  .tree-input-enum-options,
  .tree-input-item-boolean,
  .tree-input-repeated-item-input {
    min-width: 150px;
    width: 220px;
    height: 32px;
    line-height: 1.5;
    padding: 4px 11px;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.65);
    transition: all ease 300ms;
    background: transparent;
    &::placeholder {
      color: rgb(194, 194, 194);
    }
    &:focus {
      border-color: #40a9ff;
      outline: none;
      box-shadow: 0 0 4px 1px rgba(59, 169, 255, 0.71);
    }
  }
}

.tree-input.tree-input-collapsed {
  height: 32px;
  border-left: none;
  .tree-input-start {
    .tree-input-expand {
      transform: rotate(-90deg);
    }
  }
  .tree-input-items, .tree-input-end {
    display: none;
  }
}
